.about {
  min-height: 100vh;
  padding: 6rem 3rem;
  background: #111;
  color: white;
  text-align: center;
  
}

.about h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.about p {
  max-width: 700px;
  margin: auto;
  line-height: 1.6;
  opacity: 0.85;
}
